<div class="container">
    <div class="row">
        <div class="col-md-4">
            <header ng-controller="headerController">
                <ul class="nav nav-pills">
                    <li ng-class="{active: home}"><a href="#home">Home</a>
                    </li>
                    <li ng-class="{active: aboutus}"><a href="#about-us">About Me</a>
                    </li>
                    <li ng-class="{active: clients}"><a href="#cuelogic/clients">Clients</a>
                    </li>
                    <li ng-class="{active: joinus}"><a href="#join-us">Join Us</a>
                    </li>
                </ul>
            </header>
        </div>
    </div>
</div>
